# Project exclude paths
/cmake-build-debug/
/minilibx_opengl_20191021/
/minilibx_mms_20200219/
/minilibx_opengl/
/minilibx_mms/
/en.subject.pdf
/*.o
/cub3d
/GNL/*.o
/Parser/*.o
/libft/
/libmlx.dylib
/Render/*.o
parser.idea
.idea/*
/ft_split2.c
